*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
}

:root {
    --step--2: clamp(0.69rem, 0.71rem + -0.08vw, 0.64rem);
    --step--1: clamp(0.83rem, 0.84rem + -0.05vw, 0.80rem);
    --step-0: clamp(1.00rem, 1.00rem + 0.00vw, 1.00rem);
    --step-1: clamp(1.20rem, 1.19rem + 0.07vw, 1.25rem);
    --step-2: clamp(1.44rem, 1.41rem + 0.18vw, 1.56rem);
    --step-3: clamp(1.73rem, 1.66rem + 0.32vw, 1.95rem);
    --step-4: clamp(2.07rem, 1.97rem + 0.53vw, 2.44rem);
    --step-5: clamp(2.49rem, 2.33rem + 0.81vw, 3.05rem);
    --pale_blue: hsl(225, 100%, 94%);
    --bright_blue: hsl(245, 75%, 52%);
    --very_pale_blue:  hsl(225, 100%, 98%);
    --desaturated_blue: hsl(224, 23%, 55%);
    --dark_blue: hsl(223, 47%, 23%);
}

body {
    background-color: var(--pale_blue);
    text-align: center;
}

h1 {
    font-weight: 900;
    margin: 0 0 2em 0;
    font-size: var(--step-1);

}

p {
    font-weight: 500;
    opacity: 70%;
    margin: 2em 0;
    font-size: var(--step-0);
}

.hero__img {
    width: 95%;
    max-width: 20rem;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    margin: 3em auto -.5em;
}

.container {
    background-color: var(--very_pale_blue);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 95%;
    max-width: 20rem;
    margin: 0 auto;
    padding: 1em;
}

.flex__pay {
    display: flex;
    justify-content: space-between;
    gap: 3em;
}

.flex {
    display: flex;
    gap: .7em;
}

.title__div {
    align-self: center;
}


a {
    align-self: center;
}

a:hover {
    color:var(--desaturated_blue);
    opacity: .7;
}


.btn__flex {
    display: flex;
    flex-direction: column;
    margin-top: 3em;
    gap: 2em;
}

.pay__btn {
    background-color: var(--bright_blue);
    padding: 1em;
    font-size: var(--step-0);
    font-weight: 700;
    color:var(--very_pale_blue);
    border-radius: 10px;
    outline-color: var(--very_pale_blue);
}

.cancel__btn {
    background-color: var(--very_pale_blue);
    font-size: var(--step--1);
    border: none;
    font-weight: 700;
    opacity: 70%;
}

.pay__btn:hover {
    opacity: .8;
}

.cancel__btn:hover {
    opacity: 1;
}